<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form name=nToPerc method="post">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title" id="tableTitle">Convert N to Percent of Whole</h3>
            <input type="reset" id="tableTitle" value="Reset" class="btn-warning">
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Total Sample N Input</th>
                    <th>Reported N Input</th>
                    <th>Reported N Percent is</th>
                    <th>Other Percent is</th>
                  </tr>
                </thead>
                <tr>
                  <td>
                    <input id="totalN" type="text" />
                  </td>
                  <td>
                    <input id="givenN" type="text" />
                  </td>
                  <td>
                    <input id="givenPercResult" type="text" class="result" />
                  </td>
                  <td>
                    <input id="otherPercResult" type="text" class="result" />
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
