<div id="pomMain">

	<div class="container">

		<div class="session-length">
			<div class="pomodoro-length">
				<p>Session Length</p>
				<button class="btn btn-count" id="pomodoro-plus-btn">+</button>
				<span class="pomodoro-minutes-count"></span>
				<button class="btn btn-count" id="pomodoro-minus-btn">-</button>
			</div>

			<div class="break-time-length">
				<p>Break Time</p>
				<button class="btn btn-count" id="break-plus-btn">+</button>
				<span class="break-minutes-count"></span>
				<button class="btn btn-count" id="break-minus-btn">-</button>
			</div>
		</div>

		<section class="clock">

			<div class="clock-timer" id="clock-timer">
				<span class="minutes"></span>:
				<span class="seconds"></span>
			</div>

			<div class="options">
				<button class="btn btn-control start-pomodoro">Start Pomodoro</button>
				<button class="btn btn-control break">Take a break</button>
				<button class="btn btn-control reset hidden">Reset</button>
			</div>

		</section>

	</div>

</div>
<script src="./scripts/pomodoroScripts.js"></script>