div.stats-component-container {
    // Styling for each individual stats conversion tool
    margin-left: 10px;
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    border: solid var(--mid-main-color);
    margin-bottom: 10px;
}

div#stats-page-container {
    // Organization of the stats tools and the tool tips columns
    display: grid;
    grid-template-columns: 66vw 33vw;
}

div.stats-error-messages {
    margin: 10px;
}

div#stats-tools-container {
    grid-template-rows: .5fr .5fr .5fr .5fr;
}

div#ci-to-sd-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
}

div#n-to-percent-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

div#multipoint-mean-sd-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

div#sem-to-sd-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

div#ci-to-sd-container input#upper-bound-input {
    grid-column: 2;
    grid-row: 1;
}

div#ci-to-sd-container input#lower-bound-input {
    grid-column: 2;
    grid-row: 2;
}

div#ci-to-sd-container input#n-value-ci-input {
    grid-column: 3;
    grid-row: 1;
}

div#ci-to-sd-container select#ci-percent-input {
    grid-column: 3;
    grid-row: 2;
}

div#ci-to-sd-container button {
    grid-column: 1;
    grid-row: 1;
}

div#ci-to-sd-container output#sd-ci-output {
    grid-column: 4;
    grid-row: 1;
}

div#ci-to-sd-container div#ci-sd-error-messages {
    grid-column: 1;
    grid-row: 2;
}

div#n-to-percent-container input#given-n-value {
    grid-column: 2;
    grid-row: 1;
}

div#n-to-percent-container input#total-n-value {
    grid-column: 2;
    grid-row: 2;
}

div#n-to-percent-container output#result-given-perc-value {
    grid-column: 3;
    grid-row: 1;
}

div#n-to-percent-container output#result-other-perc-value {
    grid-column: 3;
    grid-row: 2;
}

div#n-to-percent-container button {
    grid-column: 1;
    grid-row: 1;
}

div#sem-to-sd-container input#n-value-sem-input {
    grid-column: 2;
    grid-row: 1;
}

div#sem-to-sd-container input#sem-value-input {
    grid-column: 2;
    grid-row: 2;
}

div#sem-to-sd-container output#sem-sd-result-output {
    grid-column: 3;
    grid-row: 1;
}

div#sem-to-sd-container button {
    grid-column: 1;
    grid-row: 1;
}

div#multipoint-mean-sd-container button.submit {
    grid-column: 1;
    grid-row: 1;
}

div#multipoint-mean-sd-container output#multipoint-total-mean {
    grid-column: 3;
    grid-row: 1;
}

div#multipoint-mean-sd-container output#multipoint-total-sd {
    grid-column: 3;
    grid-row: 2;
}
