@mixin absoluteCenter {
  position: absolute;
  top: 30%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}

@mixin btn-styles {
  text-align: center;
  border: 1px solid #7f8c8d;
  border-radius: 5px;
  background-color: #ECF0F1;
  font-weight: 600;
  color: #000;
}

#pomMain{
  height: 100%;
}

.session-length .btn {
  width: 70px;
  height: 30px;
  text-align: center;
  margin-top: 10px;
}

.clock {
  width: 500px;
  height: 150px;
  @include absoluteCenter;
  text-align: center;
  cursor: pointer;
}

.clock-timer {
  font-size: 12em;
  font-family: 'Lato', sans-serif;
}

.session-length {
  width: 500px;
  font-size: 2em;
  margin: 50px auto;
  text-align: center;
}

.pomodoro-length {
  float: left;
}

.break-time-length {
  float: right;
}

.btn-control {
  padding: 15px 35px;
  margin-top: 80px;
  @include btn-styles;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.btn-control:hover {
  background-color: #F1C40F;
  color: #333;
}

.btn-count {
  @include btn-styles;
  padding: 5px 10px;
  cursor: pointer;
}

.reset:hover {
  background-color: transparent;
}

.hidden {
  display: none;
}
